<div class="search" ><form action="get" #form="ngForm" (ngSubmit)="onSubmit()">
  <input type="Text" placeholder="Search city"  name="city" [(ngModel)]="cityName">

  <button class="btn" (click)="onSubmit()">Search</button>

</form></div>


<div class="container" *ngIf="WeatherData">
  <div class="upper-data">
    <img src="../assets/wallpaperflare.com_wallpaper.jpg"  *ngIf="WeatherData.main.temp>15">
    <img src="../assets/wallpaperflare.com_wallpaper (1).jpg"   *ngIf="WeatherData.main.temp<=15">

<div class="weather-data">
  <div class="location">{{WeatherData.name}}</div>
  <div class="temperature">{{WeatherData.main.temp | tempConverter:'C'|number: '1.0-0'}}°C</div>

</div>

  </div>

  <div class="lower-data">
    <div class="more-info-label">More infomation</div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/Colour_Thermometer_freezing-1024.png" >
          <span>Min </span>

        </div>
        <div class="info-block-value">{{WeatherData.main.temp_min |tempConverter:'C' | number: '1.0-0'}}°C</div>

      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/Climate-Temperature-PNG-Clipart-Background (1).png" >
          <span>Max </span>

        </div>
        <div class="info-block-value">{{WeatherData.main.temp_max|tempConverter:'C' | number: '1.0-0'}}°C</div>

      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png" >
          <span>Humidity </span>

        </div>
        <div class="info-block-value">{{WeatherData.main.humidity}}%</div>

      </div>


      <div class="info-block wind">
        <div class="info-block-label">
          <img src="../assets/wind-clipart-transparent-19 .png" >
          <span>Wind </span>

        </div>
        <div class="info-block-value">{{WeatherData.wind.speed}}km/h</div>

      </div>
    </div>

  </div>
</div>


<!-- <div class="container">
  <div class="upper-data">
    <img src="../assets/wallpaperflare.com_wallpaper.jpg"  *ngIf="14>15">
    <img src="../assets/wallpaperflare.com_wallpaper (1).jpg"   *ngIf="14<=15">

<div class="weather-data">
  <div class="location">Viet Nam </div>
  <div class="temperature">{{14.10 | number: '1.0-0'}}°C</div>

</div>

  </div>

  <div class="lower-data">
    <div class="more-info-label">More infomation</div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/Colour_Thermometer_freezing-1024.png" >
          <span>Min </span>

        </div>
        <div class="info-block-value">10 °C</div>

      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/Climate-Temperature-PNG-Clipart-Background (1).png" >
          <span>Max </span>

        </div>
        <div class="info-block-value">40 °C</div>

      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png" >
          <span>Humidity </span>

        </div>
        <div class="info-block-value">77%</div>

      </div>


      <div class="info-block wind">
        <div class="info-block-label">
          <img src="../assets/wind-clipart-transparent-19 .png" >
          <span>Wind </span>

        </div>
        <div class="info-block-value">11 km/h</div>

      </div>
    </div>

  </div>
</div> -->


<router-outlet></router-outlet>
